.image-preview{
    display: flex;

    align-items: center;

    justify-content: center;
}


.image-preview img{
    border-top: 40px solid #85ceed;
    border-right: 40px solid #ffb5c0;
    border-bottom: 40px solid #8ef08b;
    border-left: 40px solid #ffeed4;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 1px black;
  }

table td{
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 1px black;
  }


  tbody tr td{
   word-spacing: 10px;
  }